venv/
.env/
.env.local
.env.development
.env.production
.env.test

node_modules

__pycache__/
*.pyc
*.pyo
*.pyd


*.sqlite3

.vscode/
.idea/

dist/
*.log
*.pot
*.pid
*.local

*/__pycache__/
*/node_modules/

npm-debug.log*
pnpm-debug.log*

